<form name="myForm" class="md-whiteframe-24dp">
    <md-input-container>
    </md-input-container>
    <md-input-container>
        <label>login</label>
        <input name="login" type="text" ng-model="loginClass.name" md-maxlength="10" required>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="text" ng-model="loginClass.pass" md-maxlength="10" required>
    </md-input-container>
    <md-checkbox ng-model="loginClass.remember" aria-label="Remember">
        Remember
    </md-checkbox>
    <md-input-container>
        <md-button ng-click="loginClass.findLogin()" ng-disabled="myForm.$invalid"
                   class="md-accent md-raised">
            Login
        </md-button>
        <md-button ng-click="loginClass.moveToProfile()" ng-disabled="myForm.$valid" class="md-accent md-raised">
            Register
        </md-button>
    </md-input-container>
</form>