<h1>Profile</h1>
<form name="myForm" class="md-whiteframe-23dp">
    <md-input-container>
        <label>First name</label>
        <input type="text" ng-model="firstName" required>
    </md-input-container>
    <md-input-container>
        <label>Last name</label>
        <input type="text" ng-model="lastName" required>
    </md-input-container>
    <md-input-container>
        <label>Login</label>
        <input name="login" type="text" ng-model="login" required ng-blur="validLogin()">
        <div ng-messages="myForm.login.$invalid" style="color: maroon" role="alert">
        </div>
        <div ng-messages="myForm.login.$valid" style="color: maroon" role="alert">
            <div ng-message="">Already registered</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input name="email" type="email" ng-model="email" required ng-blur="validEmail()">
        <div ng-messages="myForm.email.$invalid" style="color: maroon" role="alert">
        </div>
        <div ng-messages="myForm.email.$valid" style="color: maroon" role="alert">
            <div ng-message="">Already registered</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="text" ng-model="pass" required>
    </md-input-container>
    <md-input-container>
        <label>Repeat password</label>
        <input name="pass" type="text" ng-model="repeatPass" required>
        <span style="color: red" ng-show="repeatPass !== pass">Wrong repeat</span>
    </md-input-container>
    <md-input-container>
        <md-button ng-click="completeRegister()"
                   ng-disabled="myForm.$invalid ===true|| myForm.login.$invalid ===true || myForm.email.$invalid === true || myForm.repeatPass.$invalid"
                   class="md-accent md-raised">Update
        </md-button>
    </md-input-container>
</form>