<!DOCTYPE html>
<html>
<head>
    <base href="/"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script defer src="bower_components/angular/angular.min.js"></script>
    <script defer src="bower_components/angular-material/angular-material.min.js"></script>
    <script defer src="bower_components/angular-animate/angular-animate.js"></script>
    <script defer src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script defer src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script defer src="bower_components/angular-route/angular-route.js"></script>
    <script defer src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script defer src="controllers/configure.js"></script>

</head>
<body ng-app="MainModule" ng-controller="searchCtrl">
<div class="search">
    <md-input-container>
        <input type="text" ng-model="searching">
    </md-input-container>
    <md-button ng-click="startSearch()">search</md-button>
</div>
<div class="wrapper">
    <div class="images">
        <img ng-src="{{i.webformatURL}}" ng-repeat="i in imageArray">
    </div>
</div>
</body>
</html>