body {
    padding-top: 10px;
    background-color: black;
}

div.search {
    width: 90%;
    background: white;
    border-radius: 4px;
    margin: auto auto auto;
}

div.search > md-input-container {
    width: 80%;
    margin: 1%;
}

.wrapper {
    background-color: inherit;
}

div.search .md-button {
    width: 15%;
    min-height: 1%;
    min-width: 1%;
    background-color: black;
    color: white;
}

.images img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px gray;
    opacity: 1;
}

.images img {
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.5s;
    opacity: 0.7;
    margin: 0 10px 5px 0;
}

div.images {
    width: 90%;
    margin: 50px auto auto auto;
}