body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/diamond_upholstery.png);
    padding: 20px;
    margin-top: -20px;
}

body form {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 25%;
    background: white;
    border-radius: 4px;
    margin-top: 1%;
}

form > md-input-container {
    width: 90%;
    margin: 4.2%;
    height: 10%;
}

md-input-container > .md-button {
    width: 90%;
    height: 10%;
    margin: 5%;
    min-height: 1%;
    min-width: 1%;
}

h1 {
    left: 45%;
    text-align: center;
}
md-checkbox:last-of-type{
    margin-left: 10%;
}
